.wikipedia-summary{
	.hidden,.mw-editsection,:empty{
		display:none !important;
	}

	a{
		text-decoration:none;

		&:hover,&:focus{
			text-decoration:underline;
		}
	}

	blockquote{
		border:none;
		margin:0;
		padding:10px 20px;
	}

	&.dark{
		background-color:#222;
		color:#FFF;
		a{
			&:link{
				color:#81d4fa;
			}

			&:visited{
				color:#ce93d8;
			}

		}
	}

	&.light{
		background-color:#fff;
		color:#222;
	}
}
