.wikipedia-summary{
	.hidden,.mw-editsection,:empty{
		display:none !important;
	}

	a[href^='http://creativecommons.org/'],
	a[href^='https://creativecommons.org/']{
		font-size:0.75em;
	}

	blockquote{
		border:none;
		margin:0;
	}

	&.dark{
		background-color:#222;
		color:#FFF;

		a{
			&:link{
				color:#81d4fa;
			}

			&:visited{
				color:#ce93d8;
			}
		}
	}

	&.light{
		background-color:#fff;
		color:#222;
	}
}
